<?xml version="1.0" encoding="UTF-8"?>

<web-app>
  <display-name>base</display-name>
  <context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>classpath:spring/*.xml</param-value>
  </context-param>
  <listener>
    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>
  <!--<listener>-->
    <!--<listener-class>com.phicomm.mobile.im.module.close.CloseHook</listener-class>-->
  <!--</listener>-->

  <servlet>
    <servlet-name>spring</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    <init-param>
      <param-name>contextConfigLocation</param-name>
      <param-value>/WEB-INF/spring-servlet.xml</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>spring</servlet-name>
    <url-pattern>/</url-pattern>
  </servlet-mapping>
  <!-- authorization -->
  <!--<filter>-->
    <!--<filter-name>phicommAuthorization</filter-name>-->
    <!--<filter-class>com.phicomm.mobile.im.module.authorization.PhicommAuthorizationFilter</filter-class>-->
    <!--<init-param>-->
      <!--<param-name>whiteList</param-name>-->
      <!--<param-value>filterWhiteList.xml</param-value>-->
    <!--</init-param>-->
  <!--</filter>-->
  <!--<filter-mapping>-->
    <!--<filter-name>phicommAuthorization</filter-name>-->
    <!--<url-pattern>/*</url-pattern>-->
  <!--</filter-mapping>-->
  <!-- swagger-ui接口文档需要登录才可以查看 -->
  <filter>
    <filter-name>swaggerUIFilter</filter-name>
    <filter-class>com.phicomm.mobile.im.module.swagger.SwaggerUIFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>swaggerUIFilter</filter-name>
    <url-pattern>/swagger-ui.html</url-pattern>
  </filter-mapping>

  <!-- druid连接池监控 -->
  <filter>
    <filter-name>DruidWebStatFilter</filter-name>
    <filter-class>com.alibaba.druid.support.http.WebStatFilter</filter-class>
    <init-param>
      <param-name>exclusions</param-name>
      <param-value>*.js,*.gif,*.jpg,*.png,*.css,*.ico,/druid/*</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>DruidWebStatFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
    <servlet-name>DruidStatView</servlet-name>
    <servlet-class>com.alibaba.druid.support.http.StatViewServlet</servlet-class>
    <init-param>
      <!-- 用户名 -->
      <param-name>loginUsername</param-name>
      <param-value>root</param-value>
    </init-param>
    <init-param>
      <!-- 密码 -->
      <param-name>loginPassword</param-name>
      <param-value>b263eaf7e256e412d38b93c4ccea2af8</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>DruidStatView</servlet-name>
    <url-pattern>/druid/*</url-pattern>
  </servlet-mapping>
</web-app>
